
.about__container {
    margin-top: 100px;
    width: 100%;
    height: auto;
    align-items: center;
}

.about__me {
    width: 100%;
    padding: 50px 222px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.about__me h1 {
    color: #C9D3DF;
    text-transform: capitalize;
    margin-bottom: 22px;
    position: relative;
}

.about__me h1::before {
    content: "";
    background-color: #393939;
    position: absolute;
    top: 20px;
    left: 239px;
    height: 8%;
    width: 8%;
    border-radius: 50%;
}

.about__me h1::after {
    content: "";
    background-color: #393939;
    position: absolute;
    top: 20px;
    right: 249px;
    height: 8%;
    width: 8%;
    border-radius: 50%;
}


.about_me p {
    color: #C9D3DF;
}

.about__skills {
    float: right;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}