

.hero-container{
    display: flex;
    margin: 100px 100px;
}

.left-greeting p {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #9F9F9F;
}
.left-greeting img:hover {
    transform: scale(1.1);
    transition: .3s ease-out;
}
.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-side .left-greeting {
    display: flex;
    gap: 6px;
    align-items: center;
}


.left-intro {
    margin-top: 20px;
    width: 100%;
}

.left-intro h1 {
    font-size: 63px;
    color: #1AFFD5;
    margin-bottom: 22px;
    font-weight: 300;
    transition:.4s ease-in-out;
}
.left-intro h1:hover {
    color: #D38DEA;

}

.left-intro p {
    float: left;
    padding-right: 220px;
    font-style: normal;
    color: #ABB7C5;
    margin-bottom: 32px;
}

.left-intro a {
    margin-top: 12px;
    border: 3px solid #1AFFD5;
    text-align: center;
    padding: 20px 80px;
    display: inline-block;
    color: #1AFFD5;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all .39s ease-in-out;
}

.left-intro a:hover {
    background-color: #1AFFD5;
    color: #000;
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1);

}

.right-side {
    width: 50%;
}

.right-side-img{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-side-img img {
    width: 100%;
    align-items: flex-start;
}