
/* fonts */

.container {
    z-index: 10000;
    width: 100%;
    display: flex;
    background-color: #212121;
    position: fixed;
    top: 0;
}

.logo-container {
    width: 96px;
    display: flex;
    left: 0;
}
.logo-container img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: .3s;
}
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 100px;

}

.nav-items {
    display: flex;
    padding: 15px 50px;
    align-items: center;

}

.nav-items li a {
    padding: 0 10px;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    margin-left: 12px;
    scroll-behavior: smooth;

}

.nav-items .active {
    color: #1AFFD5;
    transition: 0.5s ease-in;
}

.nav-items li a:hover {
       color: #1AFFD5;
       transition: 0.5s ease-in;
}

.nav-items .btn {
    background-color: #1AFFD5;
    padding: 12px 40px;
    text-align: center;
    border-radius: 20px;
    color: #000;
    margin-left: 12px;
}

.nav-items .btn:hover {
    transform: scaleX(0.9);
    background-color: #C9D3DF;
    transition: 0.9s;
}


.is-current {
    color: #1AFFD5;
}